@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* > * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
}

body {
  width: 100%;
  display: grid;
  place-content: center;
  background: #f0efeb;
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 750px;
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fafaf8;
  max-width: 850px;
  padding: 2rem 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 2rem;
  color: #18181b;
}
h2 {
  font-size: 1.5rem;
  color: #18181b;
  text-align: center;
}

form {
  width: 100%;
  text-align: center;
}

.input-group {
  background: #ffffff;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 0.9375rem;
  border: 1px solid #a1a1aa;
  background: #fafafa;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.input-group > .input {
  width: 100%;
}

.input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d0d5dd;
  background: #ffffff;
  color: #141413;

  /* Text md/Normal */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input::placeholder {
  color: #141413;
}

.input:focus {
  outline-color: #141413;
  transition: outline-color 0.3s ease;
}

.btn {
  align-self: flex-start;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #141413;
  background: #141413;
  color: #fafaf8;

  /* Text md/Medium */
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 0.75rem 1.25rem;
}
.btn1 {
  width: 50%;
  margin: 0 auto;
}

.btn:hover {
  background-color: #fafaf8;
  color: #141413;
  transition: background-color 0.3s ease;
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.todos-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.outer-div {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 4rem;
  justify-content: center;
}

.outer-div > li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.red {
  padding: 0.5rem;
  border: 1px solid #f31623;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
  background-color: transparent;
  outline: none;
  font-size: 0.875rem;
  color: #f31623;
}

@media screen and (min-width: 620px) {
  .red {
    font-size: 1rem;
  }
  .input-group {
    flex-direction: row;
  }
  .input-group > button {
    flex-basis: 25%;
  }
  .btn-group {
    flex-direction: row;
  }
}
